<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    <link rel="stylesheet" th:href="@{/styles/auth-pages-css.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/styles/home-page.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <title>Home Page</title>
</head>
<body class="page">
<div class="container text-center mt-5">
    <img th:src="@{/images/logo-me-original.png}" alt="Mercado Eletrônico" style="max-height: 15vh;margin-bottom: 80px;">
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-lg btn-block primary-button" id="allSuppliersButton">Ver meus fornecedores</button>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-md-6">
            <button type="button" class="btn btn-secondary btn-lg btn-block primary-button" id="createSupplierButton">Cadastrar fornecedor</button>
        </div>
    </div>
    <div class="row justify-content-center mb-7">
        <div class="col-md-6">
             <button type="submit" class="btn btn-outline-primary btn-lg btn-block secondary-button" id="logoutButton">LOGOUT</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/utils/loadPage.js}"></script>
<script th:src="@{/js/utils/auth-check.js}"></script>

<script>
    document.getElementById('createSupplierButton').addEventListener('click', function() {
        loadPage('/create-supplier');
    });
    document.getElementById('logoutButton').addEventListener('click', function() {
        window.location.href = '/logout';
    });
    document.getElementById('allSuppliersButton').addEventListener('click', function() {
        loadPage('/all-suppliers');
    });
</script>
</body>
</html>