<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/login-css.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body class="login-page">
    <div class="container-fluid vh-100">
        <div class="row h-100">
            <div class="col-md-6 logo-container">
                <img th:src="@{/images/logo-me-branco.png}" class = "item" alt="Logo">
                <div class = "item">
                    <br><br>
                    <p>sistema de gerenciamento</p>
                    <p>de fornecedores</p>
                </div>

            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="card login-card">
                    <h2 class="card-title text-center" style="font-weight: bold;">LOGIN</h2>
                    <form th:action="@{/auth/login}" th:object="${loginDTO}" method="post" class="mt-4">
                        <div class="form-group">
                            <label for="email" style="color: #656565;">E-mail</label>
                            <input type="email" class="form-control input-customized" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password" style="color: #656565;">Senha</label>
                            <input type="password" class="form-control input-customized" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block primary-button">ENTRAR</button>
                        <br>
                        <button type="button" onclick="window.location.href='/register';" class="btn btn-secondary btn-block secondary-button">CADASTRE-SE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>