<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Navbar</title>
    </head>
    <body>
        <div th:fragment="navbar">
            <nav class="custom-navbar">
                <img href="#" onclick="loadPage('/home-page')"  th:src="@{/images/logo-me-original.png}" alt="Mercado Eletrônico" style="max-height: 2.5rem;">
                <div class="nav-buttons">
                    <ul>
                        <li>
                            <a href="#" onclick="loadPage('/all-suppliers')"  class="custom-link">TODOS OS FORNECEDORES</a>
                        </li>
                        <li>
                            <a href="#" onclick="loadPage('/create-supplier')" class="custom-link">CRIAR FORNECEDOR</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a class="custom-link" onclick="logout()">LOGOUT</a>
                </div>
            </nav>
        </div>
    </body>
</html>
