<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    <link rel="stylesheet" th:href="@{/styles/auth-pages-css.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body class="page">
    <div class="container-fluid vh-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="card auth-card">
                    <img th:src="@{/images/logo-me-original.png}" alt="Mercado Eletrônico" style="max-height: 15vh;margin-bottom: 80px;">
                    <h2 class="card-title text-center" style="font-weight: bold;">REGISTER</h2>
                    <form class="mt-4">
                        <div class="form-group">
                            <label for="email" style="color: #656565;">E-mail</label>
                            <input type="email" class="form-control input-customized" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password" style="color: #656565;">Senha</label>
                            <input type="password" class="form-control input-customized" id="password" name="password" required>
                            <div class="password-requirements">
                                <p id="length" class="requirement">Pelo menos 8 caracteres</p>
                                <p id="number" class="requirement">Deve conter um número</p>
                                <p id="uppercase" class="requirement">Deve conter uma letra maiúscula</p>
                                <p id="lowercase" class="requirement">Deve conter uma letra minúscula</p>
                                <p id="specialChar" class="requirement">Deve conter um caractere especial (@, #, $, etc.)</p>
                            </div>
                        </div>
                        <button id="registerButton" type="submit" class="btn btn-primary btn-block primary-button">CADASTRAR-SE</button>
                        <br>
                        <button type="button" onclick="window.location.href='/login';" class="btn btn-secondary btn-block secondary-button">LOGIN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/register.js}"></script>
</body>
</html>